@charset "UTF-8";

body{
    background-color: #c5ebd6;
}

header{
    background-image: linear-gradient(to top, #185934, #2DA661);
    padding: 50px;
    margin: -30px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.596);
}

header > h1{
    text-align: center;
    color: white;
    font-size: 2em;
}

header > p{
    text-align: center;
    color: white;
    font-size: 1.5em;
}

nav{
    border-top: 20px;
    padding-block: 10px 10px 10px 10px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

main{
    background-color: white;
    text-align: justify;
    padding: 10px;
    margin: 12px 11% 5px 11%;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.384);
}

main > p{
    text-align: justify;
}

section{
    margin: auto;
}

article{
    margin: auto;

}

.android{
    height: auto;
    width: auto;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
}